name: Test Docker Action

on:
  push:
  workflow_dispatch:
    inputs:
      base_sha:
        description: "Base commit SHA (older)"
        required: true
      head_sha:
        description: "Head commit SHA (newer)"
        required: true
      name:
        description: "Name"
        required: false
        default: "WORLD"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Print changed Python files
        uses: s25132/hello-python-docker-action@v1
        with:
          name: ${{ github.event_name == 'workflow_dispatch' && inputs.name || 'WORLD' }}
          base_sha: ${{ github.event_name == 'workflow_dispatch' && inputs.base_sha || github.event.before }}
          head_sha: ${{ github.event_name == 'workflow_dispatch' && inputs.head_sha || github.sha }}
