name: Test Docker Action

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Print changed Python files
        uses: s25132/hello-python-docker-action@v1
        with:
          name: "WORLD"
          base_sha: ${{ github.event.before }}
          head_sha: ${{ github.sha }}